<a href="https://colab.research.google.com/github/2303A51717/2303A51717_b11_pds/blob/main/lab--5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

# -----------------------------
# 1. Create Sample Datasets
# -----------------------------

# Products dataset
products = pd.DataFrame({
    "product_id": [101, 102, 103, 104, 105],
    "product_name": ["Laptop", "Smartphone", "Tablet", "Headphones", "Monitor"],
    "category": ["Electronics", "Electronics", "Electronics", "Accessories", "Electronics"],
    "price": [800, 600, 300, 100, 200]
})

# Sales dataset
sales = pd.DataFrame({
    "sale_id": [1, 2, 3, 4, 5, 6, 7],
    "product_id": [101, 102, 103, 101, 104, 105, 106],  # 106 doesn't exist in products
    "quantity": [2, 5, 3, 1, 4, 2, 1]
})

print("Products Dataset:\n", products, "\n")
print("Sales Dataset:\n", sales, "\n")

# -----------------------------
# 2. Merge Datasets
# -----------------------------
# Inner join (only matching product_ids)
inner_merged = pd.merge(sales, products, on="product_id", how="inner")

# Outer join (includes all products and sales)
outer_merged = pd.merge(sales, products, on="product_id", how="outer")

print("Inner Join Result:\n", inner_merged, "\n")
print("Outer Join Result:\n", outer_merged, "\n")

# -----------------------------
# 3. Compute Statistics
# -----------------------------

# Add revenue column
inner_merged["revenue"] = inner_merged["quantity"] * inner_merged["price"]

# Total revenue
total_revenue = inner_merged["revenue"].sum()

# Average product price
average_price = products["price"].mean()

# Product-wise sales revenue
product_sales = inner_merged.groupby("product_name")["revenue"].sum().reset_index()

# Category-wise sales revenue
category_sales = inner_merged.groupby("category")["revenue"].sum().reset_index()

# Best-selling category
best_category = category_sales.loc[category_sales["revenue"].idxmax()]

print("Total Revenue:", total_revenue)
print("Average Price:", average_price)
print("\nProduct-wise Sales:\n", product_sales)
print("\nCategory-wise Sales:\n", category_sales)
print("\nBest-selling Category:\n", best_category, "\n")

# -----------------------------
# 4. Key Insights
# -----------------------------
print("Key Insights:")
print(f"- The total business revenue is ${total_revenue}.")
print(f"- The average product price is ${average_price:.2f}.")
print(f"- The best-selling category is '{best_category['category']}' with revenue ${best_category['revenue']}.")
print("- The product contributing the most revenue is:",
      product_sales.loc[product_sales['revenue'].idxmax(), 'product_name'])

Products Dataset:
    product_id product_name     category  price
0         101       Laptop  Electronics    800
1         102   Smartphone  Electronics    600
2         103       Tablet  Electronics    300
3         104   Headphones  Accessories    100
4         105      Monitor  Electronics    200

Sales Dataset:
    sale_id  product_id  quantity
0        1         101         2
1        2         102         5
2        3         103         3
3        4         101         1
4        5         104         4
5        6         105         2
6        7         106         1

Inner Join Result:
    sale_id  product_id  quantity product_name     category  price
0        1         101         2       Laptop  Electronics    800
1        2         102         5   Smartphone  Electronics    600
2        3         103         3       Tablet  Electronics    300
3        4         101         1       Laptop  Electronics    800
4        5         104         4   Headphones  Accessories    100
5        6         105         2      Monitor  Electronics    200

Outer Join Result:
    sale_id  product_id  quantity product_name     category  price
0        1         101         2       Laptop  Electronics  800.0
1        4         101         1       Laptop  Electronics  800.0
2        2         102         5   Smartphone  Electronics  600.0
3        3         103         3       Tablet  Electronics  300.0
4        5         104         4   Headphones  Accessories  100.0
5        6         105         2      Monitor  Electronics  200.0
6        7         106         1          NaN          NaN    NaN

Total Revenue: 7100
Average Price: 400.0

Product-wise Sales:
   product_name  revenue
0   Headphones      400
1       Laptop     2400
2      Monitor      400
3   Smartphone     3000
4       Tablet      900

Category-wise Sales:
       category  revenue
0  Accessories      400
1  Electronics     6700

Best-selling Category:
 category    Electronics
revenue            6700
Name: 1, dtype: object

Key Insights:
- The total business revenue is $7100.
- The average product price is $400.00.
- The best-selling category is 'Electronics' with revenue $6700.
- The product contributing the most revenue is: Smartphone

question --2

In [2]:
import pandas as pd

# -----------------------------
# 1. Create Sample Datasets
# -----------------------------

# Teachers dataset
teachers = pd.DataFrame({
    "teacher_id": [1, 2, 3, 4],
    "teacher_name": ["Alice", "Bob", "Charlie", "Diana"],
    "department": ["Computer Science", "Mathematics", "Computer Science", "Physics"]
})

# Courses dataset
courses = pd.DataFrame({
    "course_id": [101, 102, 103, 104, 105, 106, 107],
    "course_name": ["Data Structures", "Algorithms", "Calculus", "Linear Algebra",
                    "Quantum Mechanics", "Machine Learning", "Operating Systems"],
    "teacher_id": [1, 1, 2, 2, 4, 3, 1]  # multiple courses per teacher
})

print("Teachers Dataset:\n", teachers, "\n")
print("Courses Dataset:\n", courses, "\n")

# -----------------------------
# 2. Merge Datasets
# -----------------------------

# Inner join (only matching teacher_ids)
inner_merged = pd.merge(courses, teachers, on="teacher_id", how="inner")

# Left join (all courses, even if teacher not found)
left_merged = pd.merge(courses, teachers, on="teacher_id", how="left")

print("Inner Join Result:\n", inner_merged, "\n")
print("Left Join Result:\n", left_merged, "\n")

# -----------------------------
# 3. Compute Statistics
# -----------------------------

# Number of courses taught by each teacher
course_count = inner_merged.groupby("teacher_name")["course_id"].count().reset_index()
course_count.rename(columns={"course_id": "num_courses"}, inplace=True)

# Average courses per teacher
avg_courses = course_count["num_courses"].mean()

# Department-wise workload (total number of courses)
dept_workload = inner_merged.groupby("department")["course_id"].count().reset_index()
dept_workload.rename(columns={"course_id": "total_courses"}, inplace=True)

print("Courses per Teacher:\n", course_count, "\n")
print("Average Courses per Teacher:", avg_courses, "\n")
print("Department-wise Workload:\n", dept_workload, "\n")

# -----------------------------
# 4. Key Insights
# -----------------------------
print("Key Insights:")
print(f"- On average, each teacher handles {avg_courses:.2f} courses.")
most_loaded_teacher = course_count.loc[course_count["num_courses"].idxmax()]
print(f"- The teacher with the highest workload is {most_loaded_teacher['teacher_name']} "
      f"with {most_loaded_teacher['num_courses']} courses.")
most_loaded_dept = dept_workload.loc[dept_workload["total_courses"].idxmax()]
print(f"- The busiest department is {most_loaded_dept['department']} "
      f"with {most_loaded_dept['total_courses']} total courses.")

Teachers Dataset:
    teacher_id teacher_name        department
0           1        Alice  Computer Science
1           2          Bob       Mathematics
2           3      Charlie  Computer Science
3           4        Diana           Physics

Courses Dataset:
    course_id        course_name  teacher_id
0        101    Data Structures           1
1        102         Algorithms           1
2        103           Calculus           2
3        104     Linear Algebra           2
4        105  Quantum Mechanics           4
5        106   Machine Learning           3
6        107  Operating Systems           1

Inner Join Result:
    course_id        course_name  teacher_id teacher_name        department
0        101    Data Structures           1        Alice  Computer Science
1        102         Algorithms           1        Alice  Computer Science
2        103           Calculus           2          Bob       Mathematics
3        104     Linear Algebra           2          Bob       Mathematics
4        105  Quantum Mechanics           4        Diana           Physics
5        106   Machine Learning           3      Charlie  Computer Science
6        107  Operating Systems           1        Alice  Computer Science

Left Join Result:
    course_id        course_name  teacher_id teacher_name        department
0        101    Data Structures           1        Alice  Computer Science
1        102         Algorithms           1        Alice  Computer Science
2        103           Calculus           2          Bob       Mathematics
3        104     Linear Algebra           2          Bob       Mathematics
4        105  Quantum Mechanics           4        Diana           Physics
5        106   Machine Learning           3      Charlie  Computer Science
6        107  Operating Systems           1        Alice  Computer Science

Courses per Teacher:
   teacher_name  num_courses
0        Alice            3
1          Bob            2
2      Charlie            1
3        Diana            1

Average Courses per Teacher: 1.75

Department-wise Workload:
          department  total_courses
0  Computer Science              4
1       Mathematics              2
2           Physics              1

Key Insights:
- On average, each teacher handles 1.75 courses.
- The teacher with the highest workload is Alice with 3 courses.
- The busiest department is Computer Science with 4 total courses.